<!DOCTYPE html>
<html>
<head>
  <title>RailsjQueryRecipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%-# <body> -%>
<body class="<%= controller_name %> <%= action_name %>">
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= render "layouts/navbar" %>

<div class="container">
  <%= flash_messages %>
  <%= yield %>
</div>

</body>
</html>
